.table-element{
    /* border-spacing: 0px; 
    border-top: 5px; */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 15%;
}

.table-row{

    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-bottom: 5px solid #cc0d0d; */
}

.heading-row{

    background-color: #1dbbf52b;
    border-radius: 3px;
}

.list-row{

    background-color: white;
    box-shadow: -2px 1px 1px 1px rgba(116, 113, 113, 0.459);
    border-radius: 3px;

}

.over-main{
    width: 100%;
    height: 100%;
    /* background-color: #FAFAFA; */
    padding: 20px;
}

.status{
    
    /* margin: 5px; */
    border-radius: 10px;
    /* height: 25px;
    width: 100px; */
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

.active{
    background-color: aquamarine;
}

.probation{
    background-color: #f0dd6e;
}

.inactive{
    background-color: #e2212159;
}

.list-icon{
    margin-right: 30px;
}

.heading-container{
    display: flex;
    justify-content: space-between;
}

.end-items{
    display: flex;
    align-items: center;
}

.select-icon{
    background-color: #03afee5d;
    border-radius: 15px;
    height: 25px;
    border: 0;
    width: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.item{
    margin-right: 10px;
}

.btn-item{
    background-color: #03afee5d;
    height: 40px;
    padding-right: 30px;
    border-radius: 100px;
    display: flex;
    align-items: center;
}

.round-btn{

    height: 100%;
    width: 40px;
    background-color: #03AEEE;
    border-radius: 50%;
    border: 0;
    color: white;
    font-weight: 700;
    font-size: x-large;
}

.btn-text{
    padding-left: 20px;
}
